@charset "UTF-8";
@font-face {
  font-family: 'Circe Regular';
  font-display: auto;
  src: url("../fonts/Circe-Regular.eot");
  src: url("../fonts/Circe-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe-Regular.woff") format("woff"), url("../fonts/Circe-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Circe Regular', sans-serif;
  font-size: 17px;
}

a {
  text-decoration: none;
  color: #000;
}

.container {
  width: 1390px;
  margin: auto;
}

.btn {
  font-weight: bold;
  background-color: #f5652c;
  border: none;
  outline: none;
  cursor: pointer;
}

.main-title {
  font-size: 73px;
}

.main-description {
  width: 100%;
  max-width: 700px;
  font-size: 31px;
}

.main-btn {
  width: 233px;
  height: 48px;
}

.big-title {
  font-size: 42px;
}

.big-subtitle {
  font-size: 27px;
}

.title {
  position: relative;
  font-size: 25px;
}

.title::after {
  content: '';
  position: absolute;
  left: 35px;
  top: -13px;
  font-size: 35px;
  text-transform: uppercase;
  opacity: 0.11;
}

.arrow {
  display: block;
  position: relative;
  width: 16px;
  height: 1px;
  background-color: #000;
}

.arrow::before, .arrow::after {
  content: '';
  position: absolute;
  right: 0;
  width: 6px;
  height: 1px;
  background-color: #000;
}

.arrow::before {
  transform: rotate(25deg);
  transform-origin: right top;
}

.arrow::after {
  transform: rotate(-25deg);
  transform-origin: right bottom;
}

.arrow.arrow-backward {
  transform: rotateY(180deg);
}

.slider {
  overflow: hidden;
}

.slider-slide {
  width: auto;
}

.slider-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  background-color: #f5652c;
  cursor: pointer;
}

.slider-arrow:first-child {
  margin-right: 4px;
}

.slider-arrows {
  margin-bottom: 4px;
  display: flex;
  justify-content: flex-end;
}

.input {
  padding: 0 25px;
  border: none;
  outline: none;
}

.input-block {
  position: relative;
}

.questions {
  padding-top: 325px;
  padding-bottom: 210px;
  background: url(../img/interface/questions-bg.jpg) center/cover no-repeat;
  text-align: center;
}

.questions-form {
  margin-top: 85px;
  display: flex;
  justify-content: center;
}

.questions-form__input {
  width: 374px;
  height: 58px;
}

.questions-form__input-block {
  margin-right: 35px;
}

.questions-form__btn {
  width: 374px;
  height: 58px;
}

label.form-error-message {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: red;
}

@media (min-width: 992px) {
  .btn:hover {
    background-color: #d55623;
  }
}

@media (max-width: 1440px) {
  body {
    font-size: 14px;
  }
  .container {
    width: 960px;
  }
}

@media (max-width: 991px) {
  .container {
    width: 720px;
  }
  .main-title {
    font-size: 31px;
  }
  .main-description {
    max-width: 450px;
    font-size: 19px;
  }
  .big-title {
    font-size: 24px;
  }
  .big-subtitle {
    font-size: 19px;
  }
  .title {
    font-size: 17px;
  }
  .title::after {
    left: 20px;
    font-size: 21px;
  }
  .questions {
    padding-top: 150px;
    padding-bottom: 100px;
  }
  .questions-form {
    margin-top: 35px;
    flex-direction: column;
  }
  .questions-form__input {
    width: 100%;
    height: 40px;
  }
  .questions-form__input-block {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .questions-form__btn {
    width: 100%;
    height: 40px;
  }
}

@media (max-width: 767px) {
  .container {
    width: 540px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 315px;
  }
}

.header {
  position: relative;
}

.header-wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
}

.header-col {
  display: flex;
  align-items: center;
}

.header-order {
  display: flex;
  align-items: center;
  padding: 8px;
  width: 176px;
  height: 56px;
  background-color: #eff2f5;
  border-radius: 28px;
}

.header-order:first-child {
  margin-left: 25px;
  margin-right: 25px;
}

.header-order-wrap {
  display: flex;
}

.header-order__img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
}

.header-order__text {
  font-size: 15px;
}

.header-phone {
  margin-left: 25px;
  font-size: 25px;
  font-weight: bold;
}

.header-phone__free {
  position: relative;
}

.header-phone__free::after {
  content: 'Бесплатный звонок';
  position: absolute;
  top: 100%;
  right: 0;
  font-size: 21px;
  font-weight: normal;
}

.menu {
  padding: 22px 0;
  box-shadow: 0 4px 5px 1px rgba(0, 7, 5, 0.17);
  background-color: #eff2f5;
}

.menu__wrap {
  display: flex;
}

.menu__link {
  margin-right: 20px;
  font-size: 17px;
  text-transform: uppercase;
}

.menu-burger {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 45px;
  right: 10px;
  width: 40px;
  height: 40px;
  background-color: #eff2f5;
  border-radius: 50%;
  cursor: pointer;
}

.menu-burger span {
  position: relative;
  width: 20px;
  height: 2px;
  background-color: #000;
  transition: 0.2s;
}

.menu-burger span::before, .menu-burger span::after {
  content: '';
  position: absolute;
  right: 0;
  width: 20px;
  height: 2px;
  background-color: #000;
  transition: 0.5s;
}

.menu-burger span::before {
  top: -6px;
}

.menu-burger span::after {
  bottom: -6px;
}

.menu-burger.active span {
  height: 0;
}

.menu-burger.active span::before {
  top: -1px;
  transform: rotate(45deg);
}

.menu-burger.active span::after {
  bottom: -1px;
  transform: rotate(-45deg);
}

.booking-form {
  padding: 5px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background-color: #eff2f5;
}

.booking-form-container {
  position: absolute;
  top: calc(100% + 15px);
  left: 50%;
  transform: translateX(-50%);
}

.booking-form__title {
  text-transform: uppercase;
}

.booking-form__label {
  margin-right: 5px;
  background-color: transparent;
}

.booking-form__input {
  width: 100%;
  font-weight: bold;
  background-color: transparent;
  border: none;
  outline: none;
}

.booking-form__input-block {
  display: flex;
  align-items: center;
  padding: 8px 20px;
  width: 372px;
  height: 40px;
  font-size: 15px;
  background-color: #ffffff;
}

.booking-form__btn {
  width: 258px;
  height: 40px;
}

.booking-form-container--invert .booking-form {
  background-color: #fff;
}

.booking-form-container--invert .booking-form__input-block {
  background-color: #eff2f5;
}

::-webkit-calendar-picker-indicator {
  background: url("../img/interface/calendar-icon.png") no-repeat center;
  outline: none;
}

@media (max-width: 1440px) {
  .header-col-phones {
    flex-direction: column;
  }
  .header-phone {
    margin-top: 20px;
    margin-left: 0;
  }
  .booking-form__input-block {
    width: 240px;
  }
  .booking-form__btn {
    width: 190px;
  }
}

@media (max-width: 991px) {
  .header-col-links {
    flex-direction: column;
    align-items: start;
  }
  .header-order {
    margin-top: 20px;
  }
  .header-order:first-child {
    margin-left: 0;
  }
  .menu {
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 2;
    padding: 25px;
    transition: 0.5s;
  }
  .menu__wrap {
    flex-direction: column;
    width: 100%;
  }
  .menu__link {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .menu-burger {
    display: flex;
  }
  .menu.active {
    left: 0;
  }
  .booking-form {
    flex-direction: column;
  }
  .booking-form__input-block {
    margin-bottom: 10px;
    width: 100%;
  }
  .booking-form__btn {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .header-logo__img {
    width: 145px;
  }
  .header-order-wrap {
    flex-direction: column;
  }
  .header-phone {
    margin-top: 15px;
    font-size: 14px;
  }
  .header-phone__free::after {
    font-size: 12px;
  }
  .menu-burger {
    bottom: 115px;
  }
}

.index-main {
  padding-top: 250px;
  padding-bottom: 365px;
  background: url(../img/index/main-bg.jpg) center/cover no-repeat;
}

.index-offer {
  padding-top: 30px;
  padding-bottom: 55px;
}

.index-offer__title::after {
  content: 'ПРЕДЛОЖЕНИЯ СЕЗОНА';
}

.index-offer__all-offers {
  display: block;
  margin: 55px auto 0;
  width: 290px;
  text-transform: uppercase;
  font-weight: bold;
}

.index-about-us {
  padding-top: 50px;
  padding-bottom: 105px;
  background: url(../img/index/about-us-bg.jpg) center/cover no-repeat;
}

.index-about-us__title::after {
  content: 'О САНАТОРИИ';
}

.index-about-us__description {
  margin-top: 75px;
  margin-left: auto;
  width: 100%;
  max-width: 680px;
  font-size: 24px;
}

.index-allergy {
  padding-top: 80px;
}

.index-allergy-treatment {
  padding-top: 230px;
  padding-bottom: 120px;
  background: url(../img/index/allergy-treatment-bg.jpg) center/cover no-repeat;
}

.index-allergy-treatment__title {
  width: 100%;
  max-width: 635px;
}

.index-allergy-treatment__btn {
  width: 233px;
  height: 48px;
}

.index-treatment {
  padding-top: 50px;
}

.index-treatment__wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.index-treatment__item {
  position: relative;
  margin-top: 50px;
  padding: 15px 33px 30px 33px;
  width: 322px;
  box-shadow: 0 7px 6px 1px rgba(0, 7, 5, 0.1);
  border-radius: 5px;
  background-color: #eff2f5;
}

.index-treatment__item-img {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.index-treatment__item-title {
  color: #f5652c;
}

.index-treatment__btn {
  display: block;
  margin: 65px auto 0;
  width: 234px;
  height: 48px;
}

.index-comments {
  padding-top: 70px;
  padding-bottom: 60px;
}

.index-comments__title::after {
  content: 'ОТЗЫВЫ О САНАТОРИИ';
}

.index-comments__wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.index-comments__item {
  margin-top: 60px;
  padding: 25px;
  width: 100%;
  max-width: 440px;
  box-shadow: 0 5px 12px 1px rgba(0, 7, 5, 0.17);
}

.index-comments__item-header {
  display: flex;
}

.index-comments__item-header-title {
  margin-left: 20px;
  font-size: 22px;
}

.index-comments__item-header-title p {
  margin: 0;
}

.index-comments__item-header-title p:first-child {
  font-weight: bold;
}

.index-rest {
  padding-top: 145px;
  padding-bottom: 115px;
  background: url(../img/index/rest-bg.jpg) center/cover no-repeat;
}

.index-rest__btn {
  width: 183px;
  height: 44px;
}

@media (max-width: 1440px) {
  .index-treatment__wrap {
    justify-content: space-around;
  }
  .index-comments__wrap {
    justify-content: space-around;
  }
}

@media (max-width: 991px) {
  .index-main {
    padding-top: 210px;
    padding-bottom: 170px;
  }
  .index-offer {
    padding-top: 15px;
    padding-bottom: 25px;
  }
  .index-offer__all-offers {
    margin-top: 25px;
    width: 235px;
  }
  .index-about-us {
    padding-top: 20px;
    padding-bottom: 40px;
  }
  .index-about-us__description {
    margin-top: 40px;
    max-width: 452px;
    font-size: 16px;
  }
  .index-allergy {
    padding-top: 40px;
  }
  .index-allergy-treatment {
    padding-top: 100px;
    padding-bottom: 50px;
  }
  .index-allergy-treatment__title {
    max-width: 370px;
  }
  .index-treatment {
    padding-top: 20px;
  }
  .index-treatment__item {
    margin-top: 15px;
    padding: 15px 22px 15px 22px;
    width: 255px;
  }
  .index-treatment__item-img {
    transform: scale(0.5) translate(50%, -100%);
  }
  .index-treatment__btn {
    margin-top: 20px;
  }
  .index-comments {
    padding-top: 20px;
    padding-bottom: 25px;
  }
  .index-comments__item {
    margin-top: 20px;
    max-width: 345px;
  }
  .index-comments__item-header-title {
    font-size: 17px;
  }
  .index-rest {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.offer {
  position: relative;
  padding: 15px 15px 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 324px;
  height: 350px;
  background-color: rgba(254, 254, 254, 0.5);
}

.offer__bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.offer__percent-img {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-color: #f5652c;
  font-size: 27px;
  font-weight: bold;
}

.offer__title {
  position: relative;
  font-size: 27px;
  font-weight: bold;
}

.offer__title::after {
  content: 'ВЫГОДНО';
  position: absolute;
  left: 60px;
  top: -15px;
  font-size: 35px;
  text-transform: uppercase;
  color: #fff;
  opacity: 0.3;
}

.offer__subtitle {
  font-size: 22px;
}

.offer__btn {
  margin-left: auto;
  width: 142px;
  height: 37px;
}

@media (max-width: 991px) {
  .offer {
    padding: 10px 10px 15px 20px;
    width: 270px;
    height: 285px;
  }
  .offer__percent-img {
    font-size: 19px;
    width: 40px;
    height: 40px;
  }
  .offer__title {
    font-size: 19px;
  }
  .offer__title::after {
    top: -8px;
    left: 35px;
    font-size: 21px;
  }
  .offer__subtitle {
    font-size: 16px;
  }
}

.allergy-numbers {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.allergy-numbers__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 365px;
  text-align: center;
}

.allergy-numbers__item-title {
  position: relative;
  width: auto;
  font-size: 101px;
  font-weight: bold;
  color: #f5652c;
}

.allergy-numbers__item-title-img {
  position: absolute;
  right: -57px;
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid #f5652c;
  background-color: #fff;
}

@media (max-width: 1440px) {
  .allergy-numbers {
    justify-content: space-around;
  }
  .allergy-numbers__item {
    width: 300px;
  }
}
