@charset "UTF-8";
@font-face {
  font-family: 'Circe Regular';
  font-display: auto;
  src: url("../fonts/Circe-Regular.eot");
  src: url("../fonts/Circe-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe-Regular.woff") format("woff"), url("../fonts/Circe-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Circe Regular', sans-serif;
  font-size: 17px;
}

a {
  text-decoration: none;
  color: #000;
}

.container {
  width: 1390px;
  margin: auto;
}

.btn {
  font-weight: bold;
  background-color: #f5652c;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn--white {
  background-color: #fff;
}

.main-title {
  font-size: 73px;
}

.main-description {
  width: 100%;
  max-width: 700px;
  font-size: 31px;
}

.main-btn {
  width: 233px;
  height: 48px;
}

.big-title {
  font-size: 42px;
}

.big-subtitle {
  font-size: 27px;
}

.title {
  position: relative;
  font-size: 25px;
}

.title::after {
  content: '';
  position: absolute;
  left: 35px;
  top: -13px;
  font-size: 35px;
  text-transform: uppercase;
  opacity: 0.11;
}

.uppercase-text {
  text-transform: uppercase;
}

.bold-text {
  font-weight: bold;
}

.main-color-text {
  color: #f5652c;
}

.img-block {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.arrow {
  display: block;
  position: relative;
  width: 16px;
  height: 1px;
  background-color: #000;
}

.arrow::before, .arrow::after {
  content: '';
  position: absolute;
  right: 0;
  width: 6px;
  height: 1px;
  background-color: #000;
}

.arrow::before {
  transform: rotate(25deg);
  transform-origin: right top;
}

.arrow::after {
  transform: rotate(-25deg);
  transform-origin: right bottom;
}

.arrow.arrow-backward {
  transform: rotateY(180deg);
}

.slider {
  position: relative;
  overflow: hidden;
}

.slider-slide {
  width: auto;
  height: auto;
}

.slider-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  background-color: #f5652c;
  cursor: pointer;
  outline: none;
}

.slider-arrow:first-child {
  margin-right: 4px;
}

.slider-arrows {
  margin-bottom: 4px;
  display: flex;
  justify-content: flex-end;
}

.slider-button {
  color: #f5652c;
}

.slider-pagination {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.slider-pagination-bullet {
  margin: 0 10px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #f5652c;
}

.slider-pagination-bullet-active {
  background-color: #d55623;
}

.input {
  padding: 0 25px;
  border: none;
  outline: none;
}

.input-block {
  position: relative;
}

.questions {
  padding-top: 325px;
  padding-bottom: 210px;
  background: url(../img/interface/questions-bg.jpg) center/cover no-repeat;
  text-align: center;
}

.questions-form {
  margin-top: 85px;
  display: flex;
  justify-content: center;
}

.questions-form__input {
  width: 374px;
  height: 58px;
}

.questions-form__input-block {
  margin-right: 35px;
}

.questions-form__btn {
  width: 374px;
  height: 58px;
}

input.form-error-message {
  border: 1px solid red;
}

label.form-error-message {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: red;
}

.way {
  padding-top: 100px;
  padding-bottom: 25px;
  font-weight: bold;
}

.way, .way__index {
  color: #b7b7b7;
}

.way__arrow, .way__arrow::after, .way__arrow::before {
  background-color: #b7b7b7;
}

.way__wrap {
  display: flex;
  align-items: center;
}

.way__index {
  text-decoration: underline;
}

.way__arrow {
  margin: 0 5px;
}

.rules__time {
  display: flex;
  align-items: center;
}

.rules__time img {
  margin-right: 10px;
}

@media (min-width: 992px) {
  .btn:hover {
    background-color: #d55623;
  }
  .btn--white:hover {
    background-color: #b7b7b7;
  }
}

@media (max-width: 1440px) {
  body {
    font-size: 14px;
  }
  .container {
    width: 960px;
  }
  .way {
    padding-top: 80px;
    padding-bottom: 10px;
  }
}

@media (max-width: 991px) {
  .container {
    width: 720px;
  }
  .main-title {
    font-size: 31px;
  }
  .main-description {
    max-width: 450px;
    font-size: 19px;
  }
  .big-title {
    font-size: 24px;
  }
  .big-subtitle {
    font-size: 19px;
  }
  .title {
    font-size: 17px;
  }
  .title::after {
    left: 20px;
    font-size: 21px;
  }
  .questions {
    padding-top: 150px;
    padding-bottom: 100px;
  }
  .questions-form {
    margin-top: 35px;
    flex-direction: column;
  }
  .questions-form__input {
    width: 100%;
    height: 40px;
  }
  .questions-form__input-block {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .questions-form__btn {
    width: 100%;
    height: 40px;
  }
  .way {
    padding-top: 220px;
  }
}

@media (max-width: 767px) {
  .container {
    width: 540px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 315px;
  }
}

.header {
  position: relative;
}

.header-wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
}

.header-col {
  display: flex;
  align-items: center;
}

.header-order {
  display: flex;
  align-items: center;
  padding: 8px;
  width: 176px;
  height: 56px;
  background-color: #eff2f5;
  border-radius: 28px;
}

.header-order:first-child {
  margin-left: 25px;
  margin-right: 25px;
}

.header-order-wrap {
  display: flex;
}

.header-order__img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
}

.header-order__text {
  font-size: 15px;
}

.header-phone {
  margin-left: 25px;
  font-size: 25px;
  font-weight: bold;
}

.header-phone__free {
  position: relative;
}

.header-phone__free::after {
  content: 'Бесплатный звонок';
  position: absolute;
  top: 100%;
  right: 0;
  font-size: 21px;
  font-weight: normal;
}

.menu {
  padding: 22px 0;
  box-shadow: 0 4px 5px 1px rgba(0, 7, 5, 0.17);
  background-color: #eff2f5;
}

.menu__wrap {
  display: flex;
}

.menu__link {
  margin-right: 20px;
  font-size: 17px;
  text-transform: uppercase;
}

.menu-burger {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 45px;
  right: 10px;
  width: 40px;
  height: 40px;
  background-color: #eff2f5;
  border-radius: 50%;
  cursor: pointer;
}

.menu-burger span {
  position: relative;
  width: 20px;
  height: 2px;
  background-color: #000;
  transition: 0.2s;
}

.menu-burger span::before, .menu-burger span::after {
  content: '';
  position: absolute;
  right: 0;
  width: 20px;
  height: 2px;
  background-color: #000;
  transition: 0.5s;
}

.menu-burger span::before {
  top: -6px;
}

.menu-burger span::after {
  bottom: -6px;
}

.menu-burger.active span {
  height: 0;
}

.menu-burger.active span::before {
  top: -1px;
  transform: rotate(45deg);
}

.menu-burger.active span::after {
  bottom: -1px;
  transform: rotate(-45deg);
}

.booking-form {
  padding: 5px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background-color: #eff2f5;
}

.booking-form-container {
  position: absolute;
  top: calc(100% + 15px);
  left: 50%;
  transform: translateX(-50%);
}

.booking-form__title {
  text-transform: uppercase;
}

.booking-form__label {
  margin-right: 5px;
  background-color: transparent;
}

.booking-form__input {
  width: 100%;
  font-weight: bold;
  background-color: transparent;
  border: none;
  outline: none;
}

.booking-form__input-block {
  display: flex;
  align-items: center;
  padding: 8px 20px;
  width: 372px;
  height: 40px;
  font-size: 15px;
  background-color: #ffffff;
}

.booking-form__btn {
  width: 258px;
  height: 40px;
}

.booking-form-container--invert .booking-form {
  background-color: #fff;
}

.booking-form-container--invert .booking-form__input-block {
  background-color: #eff2f5;
}

::-webkit-calendar-picker-indicator {
  background: url("../img/interface/calendar-icon.png") no-repeat center;
  outline: none;
}

@media (max-width: 1440px) {
  .header-col-phones {
    flex-direction: column;
  }
  .header-phone {
    margin-top: 20px;
    margin-left: 0;
  }
  .booking-form__input-block {
    width: 240px;
  }
  .booking-form__btn {
    width: 190px;
  }
}

@media (max-width: 991px) {
  .header-col-links {
    flex-direction: column;
    align-items: start;
  }
  .header-order {
    margin-top: 20px;
  }
  .header-order:first-child {
    margin-left: 0;
  }
  .menu {
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 2;
    padding: 25px;
    transition: 0.5s;
  }
  .menu__wrap {
    flex-direction: column;
    width: 100%;
  }
  .menu__link {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .menu-burger {
    display: flex;
  }
  .menu.active {
    left: 0;
  }
  .booking-form {
    flex-direction: column;
  }
  .booking-form__input-block {
    margin-bottom: 10px;
    width: 100%;
  }
  .booking-form__btn {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .header-logo__img {
    width: 145px;
  }
  .header-order-wrap {
    flex-direction: column;
  }
  .header-phone {
    margin-top: 15px;
    font-size: 14px;
  }
  .header-phone__free::after {
    font-size: 12px;
  }
  .menu-burger {
    bottom: 115px;
  }
}

.footer {
  padding: 55px 0;
}

.footer__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__logo {
  width: 167px;
}

.footer__menu {
  display: flex;
  flex-direction: column;
}

.footer__menus {
  display: flex;
}

.footer__menu-link {
  margin-right: 150px;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.footer__info {
  text-align: right;
}

.footer__info p {
  margin: 0;
}

.footer__free-phone {
  margin: 15px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 21px;
}

.footer__free-phone-number {
  margin-left: 15px;
  font-size: 25px;
  font-weight: bold;
}

.footer__free-phone-number::after {
  content: 'Бесплатный звонок';
  display: block;
  font-size: 21px;
  font-weight: normal;
}

.footer__phones {
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
}

.footer__line {
  margin-top: 25px;
  background-color: rgba(46, 46, 46, 0.37);
}

.footer__rights {
  width: 360px;
}

.footer__social {
  display: flex;
}

.footer__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-color: #f5652c;
}

@media (max-width: 1440px) {
  .footer__menu-link {
    margin-right: 75px;
    margin-bottom: 15px;
  }
  .footer__rights {
    width: 295px;
  }
}

@media (max-width: 991px) {
  .footer__menus {
    display: none;
  }
}

@media (max-width: 767px) {
  .footer {
    padding: 25px 0;
  }
  .footer__wrap {
    flex-direction: column;
    align-items: stretch;
  }
  .footer__logo {
    width: 120px;
  }
  .footer__info {
    margin-top: 15px;
  }
  .footer__phones {
    font-size: 13px;
  }
  .footer__social {
    margin-top: 15px;
    justify-content: center;
  }
}

.index-main {
  padding-top: 250px;
  padding-bottom: 365px;
  background: url(../img/index/main-bg.jpg) center/cover no-repeat;
}

.index-offer {
  padding-top: 30px;
  padding-bottom: 55px;
}

.index-offer__title::after {
  content: 'ПРЕДЛОЖЕНИЯ СЕЗОНА';
}

.index-offer__all-offers {
  display: block;
  margin: 55px auto 0;
  width: 290px;
  text-transform: uppercase;
  font-weight: bold;
}

.index-about-us {
  padding-top: 50px;
  padding-bottom: 105px;
  background: url(../img/index/about-us-bg.jpg) center/cover no-repeat;
}

.index-about-us__title::after {
  content: 'О САНАТОРИИ';
}

.index-about-us__description {
  margin-top: 75px;
  margin-left: auto;
  width: 100%;
  max-width: 680px;
  font-size: 24px;
}

.index-allergy {
  padding-top: 80px;
}

.index-allergy-treatment {
  padding-top: 230px;
  padding-bottom: 120px;
  background: url(../img/index/allergy-treatment-bg.jpg) center/cover no-repeat;
}

.index-allergy-treatment__title {
  width: 100%;
  max-width: 635px;
}

.index-allergy-treatment__btn {
  width: 233px;
  height: 48px;
}

.index-treatment {
  padding-top: 50px;
}

.index-treatment__wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.index-treatment__item {
  position: relative;
  margin-top: 50px;
  padding: 15px 33px 30px 33px;
  width: 322px;
  box-shadow: 0 7px 6px 1px rgba(0, 7, 5, 0.1);
  border-radius: 5px;
  background-color: #eff2f5;
}

.index-treatment__item-img {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.index-treatment__item-title {
  color: #f5652c;
}

.index-treatment__btn {
  display: block;
  margin: 65px auto 0;
  width: 234px;
  height: 48px;
}

.index-comments {
  padding-top: 70px;
  padding-bottom: 60px;
}

.index-comments__title::after {
  content: 'ОТЗЫВЫ О САНАТОРИИ';
}

.index-comments__wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.index-comments__item {
  margin-top: 60px;
  padding: 25px;
  width: 100%;
  max-width: 440px;
  box-shadow: 0 5px 12px 1px rgba(0, 7, 5, 0.17);
}

.index-comments__item-header {
  display: flex;
}

.index-comments__item-header-title {
  margin-left: 20px;
  font-size: 22px;
}

.index-comments__item-header-title p {
  margin: 0;
}

.index-comments__item-header-title p:first-child {
  font-weight: bold;
}

.index-rest {
  padding-top: 145px;
  padding-bottom: 115px;
  background: url(../img/index/rest-bg.jpg) center/cover no-repeat;
}

.index-rest__btn {
  width: 183px;
  height: 44px;
}

@media (max-width: 1440px) {
  .index-treatment__wrap {
    justify-content: space-around;
  }
  .index-comments__wrap {
    justify-content: space-around;
  }
}

@media (max-width: 991px) {
  .index-main {
    padding-top: 210px;
    padding-bottom: 170px;
  }
  .index-offer {
    padding-top: 15px;
    padding-bottom: 25px;
  }
  .index-offer__all-offers {
    margin-top: 25px;
    width: 235px;
  }
  .index-about-us {
    padding-top: 20px;
    padding-bottom: 40px;
  }
  .index-about-us__description {
    margin-top: 40px;
    max-width: 452px;
    font-size: 16px;
  }
  .index-allergy {
    padding-top: 40px;
  }
  .index-allergy-treatment {
    padding-top: 100px;
    padding-bottom: 50px;
  }
  .index-allergy-treatment__title {
    max-width: 370px;
  }
  .index-treatment {
    padding-top: 20px;
  }
  .index-treatment__item {
    margin-top: 15px;
    padding: 15px 22px 15px 22px;
    width: 255px;
  }
  .index-treatment__item-img {
    transform: scale(0.5) translate(50%, -100%);
  }
  .index-treatment__btn {
    margin-top: 20px;
  }
  .index-comments {
    padding-top: 20px;
    padding-bottom: 25px;
  }
  .index-comments__item {
    margin-top: 20px;
    max-width: 345px;
  }
  .index-comments__item-header-title {
    font-size: 17px;
  }
  .index-rest {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.allergy-main {
  padding-top: 200px;
  padding-bottom: 255px;
  background: url(../img/allergy/main-bg.jpg) center/cover no-repeat;
}

.allergy-numbers {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.allergy-numbers-section {
  padding-top: 45px;
}

.allergy-numbers__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 365px;
  text-align: center;
}

.allergy-numbers__item-title {
  position: relative;
  width: auto;
  font-size: 101px;
  font-weight: bold;
  color: #f5652c;
}

.allergy-numbers__item-title-img {
  position: absolute;
  right: -57px;
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid #f5652c;
  background-color: #fff;
}

.allergy-description {
  padding-top: 30px;
  font-size: 21px;
}

.allergy-types {
  padding-top: 20px;
}

.allergy-types__wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.allergy-types__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  min-width: 157px;
}

.allergy-types__item-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 116px;
  height: 116px;
  border: 3px solid #f5652c;
  border-radius: 50%;
}

.allergy-treatment {
  padding-top: 35px;
}

.allergy-treatment__wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.allergy-treatment__item {
  margin-top: 40px;
  width: 324px;
}

.allergy-treatment__item-img {
  border-radius: 5px;
  overflow: hidden;
}

.allergy-treatment__item-img img {
  width: 100%;
  object-fit: cover;
}

.allergy-program {
  padding-top: 200px;
  padding-bottom: 75px;
  background: url(../img/allergy/program-bg.jpg) center/cover no-repeat;
}

.allergy-program__subtitle {
  width: 100%;
  max-width: 600px;
}

.allergy-program__btn {
  width: 233px;
  height: 48px;
}

.allergy-program__btn:first-child {
  margin-right: 25px;
}

@media (max-width: 1440px) {
  .allergy-numbers {
    justify-content: space-around;
  }
  .allergy-numbers__item {
    width: 300px;
  }
  .allergy-description {
    font-size: 16px;
  }
  .allergy-treatment__item {
    width: 225px;
  }
}

@media (max-width: 991px) {
  .allergy-main {
    padding-top: 80px;
    padding-bottom: 110px;
  }
  .allergy-numbers-section {
    padding-top: 15px;
  }
  .allergy-description {
    padding-top: 10px;
  }
  .allergy-types__wrap {
    justify-content: space-around;
  }
  .allergy-types__item {
    margin-top: 10px;
  }
  .allergy-treatment {
    padding-top: 10px;
  }
  .allergy-treatment__wrap {
    justify-content: space-around;
  }
  .allergy-treatment__item {
    margin-top: 10px;
  }
  .allergy-program {
    padding-top: 110px;
    padding-bottom: 40px;
  }
}

@media (max-width: 576px) {
  .allergy-treatment__item {
    width: 155px;
  }
  .allergy-program__btn {
    width: 100%;
  }
  .allergy-program__btn:first-child {
    margin-right: 0;
    margin-bottom: 15px;
  }
}

.discounts-main__slider {
  margin-bottom: 30px;
  height: 773px;
}

.discounts-advantages {
  padding-top: 70px;
}

.discounts-advantages__wrap {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.discounts-advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  width: 295px;
}

.discounts-advantages__item-img {
  display: flex;
  align-items: flex-end;
  height: 72px;
}

.discounts-advantages__item .title {
  font-weight: bold;
}

.discounts-advantages__item .text {
  margin: 0;
  text-align: center;
}

.discounts-description {
  padding: 80px 0;
}

.offer {
  position: relative;
  padding: 15px 15px 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 324px;
  height: 350px;
  background-color: rgba(254, 254, 254, 0.5);
}

.offer__bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.offer__percent-img {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-color: #f5652c;
  font-size: 27px;
  font-weight: bold;
}

.offer__title {
  position: relative;
  font-size: 27px;
  font-weight: bold;
}

.offer__title::after {
  content: 'ВЫГОДНО';
  position: absolute;
  left: 60px;
  top: -15px;
  font-size: 35px;
  text-transform: uppercase;
  color: #fff;
  opacity: 0.3;
}

.offer__subtitle {
  font-size: 22px;
}

.offer__btn {
  margin-left: auto;
  width: 142px;
  height: 37px;
}

@media (max-width: 1440px) {
  .discounts-main__slider {
    margin-bottom: 20px;
    height: 766px;
  }
  .discounts-advantages__item {
    width: 225px;
  }
  .offer {
    width: 304px;
  }
}

@media (max-width: 991px) {
  .discounts-main__slider {
    height: auto;
  }
  .discounts-advantages {
    padding-top: 20px;
  }
  .discounts-description {
    padding: 10px 0;
  }
  .offer {
    padding: 10px 10px 15px 20px;
    width: 270px;
    height: 285px;
  }
  .offer__percent-img {
    font-size: 19px;
    width: 40px;
    height: 40px;
  }
  .offer__title {
    font-size: 19px;
  }
  .offer__title::after {
    top: -8px;
    left: 35px;
    font-size: 21px;
  }
  .offer__subtitle {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .discounts-advantages__item {
    width: 150px;
  }
}

.treatment-main__wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.treatment-main__item {
  margin-top: 35px;
  padding: 30px;
  width: 675px;
  background-color: #eff8ff;
}

.treatment-main__item-title {
  display: flex;
  align-items: center;
}

.treatment-main__item-title-img {
  margin-right: 25px;
  width: 51px;
  height: 51px;
  border: 1px solid #f5652c;
}

.treatment-main__item-title .title {
  margin: 0;
}

.treatment-main__item-description {
  font-size: 21px;
}

.treatment-main__item-img {
  width: 100%;
  border-radius: 15px;
}

.treatment-main__item-btn {
  margin-top: 20px;
  width: 233px;
  height: 48px;
}

.treatment-info .title {
  margin: 50px 0;
}

.treatment-types {
  padding-top: 20px;
  padding-bottom: 150px;
}

@media (max-width: 1440px) {
  .treatment-main__item {
    width: 465px;
  }
  .treatment-main__item-title .title {
    width: 248px;
  }
}

@media (max-width: 991px) {
  .treatment-main__item {
    margin-top: 20px;
    padding: 15px;
    width: 350px;
  }
  .treatment-main__item-title-img {
    margin-right: 15px;
  }
  .treatment-main__item-title .title {
    width: 230px;
  }
  .treatment-main__item-description {
    font-size: 16px;
  }
  .treatment-info .title {
    margin: 25px 0;
  }
  .treatment-types {
    padding-top: 1px;
    padding-bottom: 35px;
  }
}

@media (max-width: 767px) {
  .treatment-main__item {
    width: 100%;
  }
  .treatment-main__item-title .title {
    width: auto;
  }
}

@media (max-width: 576px) {
  .treatment-main__item-title .title {
    width: 185px;
  }
}

.contacts-main__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
}

.contacts-main__map {
  width: 700px;
  height: 475px;
  border-radius: 5px;
  overflow: hidden;
}

.contacts-main__address {
  width: 650px;
  font-size: 21px;
}

.contacts-main__address .title {
  font-weight: bold;
}

.contacts-info {
  padding-top: 30px;
  padding-bottom: 50px;
}

.contacts-info__wrap {
  display: flex;
  justify-content: space-between;
}

.contacts-info__item {
  width: 310px;
}

@media (max-width: 1440px) {
  .contacts-main__map {
    width: 465px;
  }
  .contacts-main__address {
    width: 465px;
  }
  .contacts-info__item {
    width: 265px;
  }
}

@media (max-width: 991px) {
  .contacts-main__wrap {
    flex-direction: column;
    margin-top: 20px;
  }
  .contacts-main__map {
    width: 100%;
  }
  .contacts-main__address {
    width: 100%;
    font-size: 16px;
  }
  .contacts-info {
    padding-top: 5px;
    padding-bottom: 20px;
  }
  .contacts-info__item {
    width: 236px;
  }
}

@media (max-width: 767px) {
  .contacts-info__wrap {
    flex-direction: column;
  }
}

@media (max-width: 576px) {
  .contacts-main__map {
    height: 315px;
  }
}

.aboutUs-main {
  padding-top: 160px;
  padding-bottom: 200px;
  background: url(../img/aboutUs/main-bg.jpg) center/cover no-repeat;
}

.aboutUs-advantages {
  padding-top: 15px;
  padding-bottom: 55px;
}

.aboutUs-advantages__wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.aboutUs-advantages__item {
  margin-top: 45px;
  width: 435px;
  box-shadow: 5px 4px 6px 1px rgba(0, 7, 5, 0.05);
  text-align: center;
}

.aboutUs-advantages__item img {
  width: 100%;
}

.aboutUs-gallery {
  padding-bottom: 50px;
}

.aboutUs-gallery__slider {
  height: 595px;
  overflow: hidden;
}

.aboutUs-gallery__slide {
  width: 455px;
  height: 290px;
}

.aboutUs-gallery__slide-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.aboutUs-awards__slider {
  overflow: hidden;
}

.aboutUs-awards__slide {
  width: 242px;
}

.aboutUs-awards__slide-img {
  width: 100%;
  border-radius: 5px;
}

.aboutUs-info {
  padding-top: 45px;
  font-size: 21px;
}

.aboutUs-info__link {
  display: block;
}

@media (min-width: 992px) {
  .aboutUs-info__link:hover {
    color: #f5652c;
  }
}

@media (max-width: 1440px) {
  .aboutUs-advantages__item {
    width: 315px;
  }
  .aboutUs-gallery__slider {
    height: 410px;
  }
  .aboutUs-gallery__slide {
    width: 312px;
    height: 199px;
  }
}

@media (max-width: 991px) {
  .aboutUs-main {
    padding-top: 80px;
    padding-bottom: 100px;
  }
  .aboutUs-advantages {
    padding-top: 1px;
    padding-bottom: 25px;
  }
  .aboutUs-advantages__item {
    margin-top: 15px;
    width: 230px;
  }
  .aboutUs-gallery {
    padding-bottom: 25px;
  }
  .aboutUs-gallery__slider {
    height: auto;
  }
  .aboutUs-gallery__slide {
    width: 264px;
    height: 168px;
  }
  .aboutUs-awards__slide {
    width: 150px;
  }
  .aboutUs-info {
    padding-top: 25px;
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .aboutUs-advantages__item {
    width: 150px;
  }
}

.services-main {
  font-size: 21px;
}

.services-main__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;
  padding: 25px 35px;
  background-color: #eff8ff;
}

.services-main__block:nth-child(odd) {
  flex-direction: row-reverse;
}

.services-main__block-text {
  width: 665px;
}

.services-main__block-text p {
  margin: 0;
}

.services-main__block-slider {
  width: 610px;
}

.services-main__block-slider .slider-slide {
  height: 362px;
  border-radius: 15px;
  overflow: hidden;
}

.services-main__block-slider .slider-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.services-infrastructure {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 21px;
}

.services-infrastructure__slider {
  overflow: hidden;
}

@media (max-width: 1440px) {
  .services-main__block-text {
    width: 445px;
  }
  .services-main__block-slider {
    width: 430px;
  }
  .services-main__block-slider .slider-slide {
    height: 255px;
  }
}

@media (max-width: 991px) {
  .services-main {
    font-size: 16px;
  }
  .services-main__block {
    flex-direction: column;
  }
  .services-main__block:nth-child(odd) {
    flex-direction: column;
  }
  .services-main__block-text {
    margin-bottom: 15px;
    width: 100%;
  }
  .services-main__block-slider .slider-button {
    display: none;
  }
  .services-infrastructure {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .services-main__block {
    padding: 15px 10px;
  }
  .services-main__block-slider {
    width: 295px;
  }
  .services-main__block-slider .slider-slide {
    height: 175px;
  }
}

.price__kinds {
  border: 2px solid #eff2f5;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-between;
  height: 56px;
  font-size: 19px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: -1px 7px 6px 1px rgba(0, 7, 5, 0.1);
}

.price__kinds-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 230px;
  height: 52px;
  text-align: center;
  cursor: pointer;
}

.price__kinds-item.active {
  background-color: #f5652c;
}

.price__kinds-line {
  display: block;
  width: 1px;
  height: 27px;
  background-color: #b8b8b8;
  opacity: 0.62;
}

.price__table {
  position: relative;
  display: flex;
  margin-top: 35px;
  margin-bottom: 60px;
  width: 100%;
  border: 2px solid #eff2f5;
  box-shadow: -1px 7px 6px 1px rgba(0, 7, 5, 0.1);
}

.price__table::before {
  content: '';
  position: absolute;
  top: 0;
  left: 308px;
  width: 2px;
  height: 100%;
  background-color: #eff2f5;
}

.price__table-title {
  display: flex;
  padding: 0 35px;
  height: 70px;
  font-weight: bold;
  background-color: #eff2f5;
}

.price__table-title-item {
  display: flex;
  align-items: center;
  margin: 0;
  height: 100%;
}

.price__table-category {
  display: flex;
  flex-direction: column;
  width: 308px;
  height: 100%;
}

.price__table-category-title-item {
  width: 100%;
}

.price__table-category-wrap {
  display: flex;
  flex-direction: column;
}

.price__table-category-item {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0 35px;
  height: 50px;
  cursor: pointer;
}

.price__table-category-item.active {
  border-left: 6px solid #f5652c;
  padding-left: 29px;
}

.price__table-prices {
  width: 1078px;
}

.price__table-prices-title-item {
  width: 25%;
}

.price__table-prices-wrap {
  display: flex;
  flex-direction: column;
}

.price__table-prices-item {
  display: flex;
  padding: 0 35px;
  height: 50px;
}

.price__table-prices-item p {
  display: flex;
  align-items: center;
  margin: 0;
  width: 25%;
}

.price__table-prices-item:hover {
  background-color: #eff2f5;
}

@media (max-width: 1440px) {
  .price__kinds-item {
    width: 158px;
  }
  .price__table::before {
    left: 210px;
  }
  .price__table-category {
    width: 210px;
  }
  .price__table-prices {
    width: 745px;
  }
}

@media (max-width: 991px) {
  .price__kinds {
    height: 84px;
    font-size: 16px;
  }
  .price__kinds-item {
    width: 238px;
    height: 40px;
  }
  .price__kinds-line:nth-child(6) {
    display: none;
  }
  .price__table {
    flex-direction: column;
  }
  .price__table::before {
    display: none;
  }
  .price__table-title {
    height: 50px;
  }
  .price__table-category {
    width: 100%;
  }
  .price__table-category-wrap {
    height: 160px;
    overflow-y: scroll;
  }
  .price__table-category-item {
    padding: 12px 35px;
  }
  .price__table-prices {
    width: 100%;
  }
  .price__table-prices-wrap {
    height: 240px;
    overflow-y: scroll;
  }
  .price__table-prices-item {
    height: 40px;
  }
}

@media (max-width: 767px) {
  .price__kinds-item {
    width: 178px;
  }
}

@media (max-width: 576px) {
  .price__kinds {
    height: 124px;
  }
  .price__kinds-item {
    width: 155px;
  }
  .price__kinds-line:nth-child(4), .price__kinds-line:nth-child(8) {
    display: none;
  }
  .price__kinds-line:nth-child(6) {
    display: block;
  }
}
