.comments
  &-main
    &__new-comment-btn
      padding: 10px 14px
      width: 220px
      height: 61px
      border-radius: 31px
      background-color: $main-color
  &-card
    display: flex
    &__title
      margin-right: 40px
    &__img
      width: 165px
      height: 165px
      border-radius: 50%
      overflow: hidden
      & img
        width: 100%
        height: 100%
        object-fit: cover
    &__rating
    &__content
      width: 100%
      max-width: 1000px
    &__date
      color: #989898
    &__text
      height: 57px
      overflow: hidden
    &__open
      text-decoration: underline
      cursor: pointer
@media (max-width: 1440px)
  .comments
    &-card
      &__text
        height: 65px
@media (max-width: 991px)
  .comments
    &-card
      &__img
        width: 115px
        height: 115px
@media (max-width: 767px)
  .comments
    &-card
      flex-direction: column
      &__title
        margin-right: 0
// @media (max-width: 576px)