.comments
  &-main
    &__new-comment-btn
      padding: 10px 14px
      width: 220px
      height: 61px
      border-radius: 31px
      background-color: $main-color
// @media (max-width: 1440px)
// @media (max-width: 991px)
// @media (max-width: 767px)
// @media (max-width: 576px)