.discountsInDetail
  &-main
    &__title::after
      content: 'Предложения сезона'
    &__wrap
      display: flex
      align-items: center
    &__img
      position: relative
      margin-right: 35px
      width: 100%
      max-width: 700px
      &::before
        content: ''
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background-color: rgba(255, 255, 255, 0.2)
      &-percent
        position: absolute
        top: 20px
        right: 20px
      & img
        width: 100%
        border-radius: 5px
    &__text
      width: 100%
      max-width: 655px
      &-booking
        padding: 10px 14px
        width: 220px
        height: 61px
        border-radius: 31px
        background-color: $main-color
  &-offers
    &__table
      display: flex
      flex-direction: column
      margin-bottom: 30px
      border: 1px solid #eff2f5
      &-title
        display: flex
        height: 70px
        background-color: #eff2f5
        font-weight: bold
      &-row
        display: flex
        height: 50px
        &:nth-child(even)
          background-color: #eff2f5
      &-col
        display: flex
        justify-content: center
        align-items: center
        height: 100%
        text-align: center
        border: 1px solid #eff2f5
        &:nth-child(1)
          width: 160px
        &:nth-child(2)
          width: 187px
        &:nth-child(3)
          width: 217px
        &:nth-child(4)
          width: 317px
        &:nth-child(5)
          width: 207px
        &:nth-child(6)
          width: 300px
        &-cost
          flex-direction: column
      &-btn
        width: 175px
        height: 40px
@media (max-width: 1440px)
  .discountsInDetail
    &-offers
      &__table
        &-col
          &:nth-child(1)
            width: 110px
          &:nth-child(2)
            width: 129px
          &:nth-child(3)
            width: 150px
          &:nth-child(4)
            width: 220px
          &:nth-child(5)
            width: 143px
          &:nth-child(6)
            width: 206px
@media (max-width: 991px)
  .discountsInDetail
    &-main
      &__wrap
        flex-wrap: wrap
      &__img
        margin-right: 0
        margin-bottom: 15px
    &-offers
      &__table
        &-col
          &:nth-child(1)
            width: 80px
          &:nth-child(2)
            width: 100px
          &:nth-child(3)
            width: 110px
          &:nth-child(4)
            width: 173px
          &:nth-child(5)
            width: 100px
          &:nth-child(6)
            width: 155px
        &-btn
          margin: 0 15px
          width: 140px
          height: 30px
@media (max-width: 767px)
  .discountsInDetail
    &-offers
      &__table
        flex-direction: row
        &-title
          flex-direction: column
          height: auto
          width: 140px
        &-rows
          display: flex
          overflow-x: scroll
          width: 398px
        &-row
          flex-direction: column
          width: 175px
          height: auto
          &:nth-child(n)
            background-color: transparent
        &-col
          height: 50px
          &:nth-child(n)
            width: 100%
@media (max-width: 576px)
  .discountsInDetail
    &-offers
      &__table
        &-rows
          width: 173px