.index
  &-main
    padding-top: 250px
    padding-bottom: 365px
    background: url(../img/index/main-bg.jpg) center/cover no-repeat
  &-offer
    padding-top: 30px
    padding-bottom: 55px
    &__title::after
      content: 'ПРЕДЛОЖЕНИЯ СЕЗОНА'
    &__all-offers
      text-transform: uppercase
      font-weight: bold
// @media (max-width: 1440px)
@media (max-width: 991px)
  .index
    &-main
      padding-top: 210px
      padding-bottom: 170px
// @media (max-width: 767px)
// @media (max-width: 576px)