.index
  &-main
    padding-top: 250px
    padding-bottom: 365px
    background: url(../img/index/main-bg.jpg) center/cover no-repeat
// @media (max-width: 1440px)
@media (max-width: 991px)
  .index
    &-main
      padding-top: 210px
      padding-bottom: 170px
// @media (max-width: 767px)
// @media (max-width: 576px)