.price
  &__kinds
    border: 1px solid green
    display: flex
    justify-content: space-between
    align-items: center
    height: 56px
    font-size: 19px
    &-item
      border: 1px solid red
      display: flex
      justify-content: center
      align-items: center
      margin: 0
      width: 100%
      height: 100%
      text-align: center
    &-line
      display: block
      width: 1px
      height: 27px
      background-color: #b8b8b8
      opacity: 0.62
// @media (max-width: 1440px)
// @media (max-width: 991px)
// @media (max-width: 767px)
// @media (max-width: 576px)